# Core functionality - changes here should be rare!
/src/app.py                   @SaraQayyumm
/src/backend/database.py      @SaraQayyumm
/src/backend/routers/auth.py  @SaraQayyumm

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SaraQayyumm
